<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap 4.0 Demo Page</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">  
</head>

<body>
     {{>header}}
    <div class="container">
        <h1> Just a simple and quick start with nodejs express handlebars and eslint</h1>
        <span>This is the home page, this example was mainly used for learning and demostration.</span>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a  href="" target="_blank">测试一</a> 
                    <span>测试一</span>
                </li>
                <li class="list-group-item">
                    <a  href="" target="_blank">测试二</a> 
                    <span>测试二</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>