<!DOCTYPE html>
<html>

<head>
    <title>Nodejs Ealsticsearch 集成示例 - Nginx 日志分析</title>
    <meta name="description" content="通过将nginx的access 日志索引至elasticsearch中进行分析，结合此业务场景进行Nodejs和elasticsearch的集成学习">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">  
</head>

<body>
     {{>header}}
    <div class="container">
        <h1> Nodejs Ealsticsearch 集成示例 - Nginx 日志分析</h1>
        <span>Based On Nodejs Express Handlebars elasticsearch-js</span>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a  href="/log/topRequest" target="_blank">Request URL 访问次数排名</a> 
                    <span>查看哪些URI的请求次数多</span>
                </li>
                <li class="list-group-item">
                    <a  href="/log/topSlowResponse" target="_blank">Request URL 响应时间</a> 
                    <span>查看响应时间慢的请求</span>
                </li>
                <li class="list-group-item">
                    <a  href="/log/requestHits" target="_blank">单个请求明细</a> 
                    <span>查看某个单个请求的明细</span>
                </li>
                <li class="list-group-item">
                    <a  href="/log/statusquery" target="_blank">状态聚合页</a> 
                    <span>查看某个单个Status的请求的明细</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>